-- SQLite version of Netflix database dump

PRAGMA foreign_keys = ON;

-- Table structure for table `users`
CREATE TABLE `users` (
  `id` INTEGER PRIMARY KEY AUTOINCREMENT,
  `email` TEXT NOT NULL,
  `name` TEXT NOT NULL,
  `password` TEXT NOT NULL,
  `createdAt` TEXT NOT NULL,
  `updatedAt` TEXT NOT NULL
);

-- Dumping data for table `users`
INSERT INTO `users` VALUES (1,'email@email.com','Rodolfo','$2a$08$DXf4SkIlb5Oty39RkBwT7.0yK7RwsP2NjrvSqIudhtSbXdHsG83VO','2024-09-28 01:20:39','2024-09-28 01:20:39');
INSERT INTO `users` VALUES (5,'luize@email.com','Luize','$2b$08$LWPaLi0JzM5CPVM5Vl89bePCLunM8hAr6ookrgin12DYQ0Xxio/J6','2024-10-04 18:43:06','2024-10-04 18:43:06');
INSERT INTO `users` VALUES (6,'teste@email.com','Teste2','123','2024-10-05 07:08:14','2024-10-17 22:47:22');

-- Table structure for table `movies`
CREATE TABLE `movies` (
  `id` INTEGER PRIMARY KEY AUTOINCREMENT,
  `userId` INTEGER NOT NULL,
  `title` TEXT NOT NULL,
  `description` TEXT NOT NULL,
  `director` TEXT NOT NULL,
  `genre` TEXT NOT NULL,
  `releaseDate` TEXT NOT NULL,
  `imageUrl` TEXT,
  `type` TEXT NOT NULL,
  `createdAt` TEXT NOT NULL,
  `updatedAt` TEXT NOT NULL,
  FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
);

-- Dumping data for table `movies`
INSERT INTO `movies` VALUES (1,7,'Grave of the Fireflies','A teenager (J. Robert Spencer) is charged with the care of his younger sister (Rhoda Chrosite) after an Allied firebombing during World War II destroys their home and kills their mother.','Isao Takahata','Drama, War, Anime','1988-01-01 00:00:00','https://resizing.flixster.com/-XZAfHZM39UwaGJIFWKAE8fS0ak=/v3/t/assets/p158931_p_v8_aa.jpg','movie','2024-10-29 23:12:34','2024-10-29 23:12:34');
INSERT INTO `movies` VALUES (2,7,'Selma','Fueled by a gripping performance from David Oyelowo, Selma draws inspiration and dramatic power from the life and death of Martin Luther King, Jr. -- but doesn''t ignore how far we remain from the ideals his work embodied.','Ava DuVernay','History, Drama','2015-01-09 00:00:00','https://thumbnails.cbsig.net/_x/w1200/CBS_Production_Entertainment_VMS/2022/01/12/1992287299897/SELMA_SAlone_1920x1080_2875334_1920x1080.jpg','movie','2024-10-29 23:15:11','2024-10-29 23:15:11');
INSERT INTO `movies` VALUES (3,7,'Godzilla Minus One','Japan is already devastated by the war when a new crisis emerges in the form of a giant monster.','Takashi Yamazaki','Sci-Fi, Action, Adventure','2023-12-01 00:00:00','https://i.ytimg.com/vi/qkIJidLfHjk/maxresdefault.jpg','movie','2024-10-29 23:19:49','2024-10-29 23:19:49');
INSERT INTO `movies` VALUES (27,7,'Ripley','A wealthy man hires down-on-his-luck grifter Tom Ripley to travel to Italy to urge his vagabond son to return home; Tom''s acceptance of the job is the first step in a life of deceit, fraud and murder.
','Steven Zaillian','Drama, Mystery & Thriller','2024-01-01 00:00:00','https://p2.trrsf.com/image/fget/cf/774/0/images.terra.com/2024/01/24/823524378-ripleyteasertrailerwatchithere.jpg','series','2024-10-30 16:25:54','2024-10-30 16:25:54');
INSERT INTO `movies` VALUES (28,7,'The Crown','Based on an award-winning play ("The Audience") by showrunner Peter Morgan, this lavish, Netflix-original drama chronicles the life of Queen Elizabeth II from the 1940s to modern times. The series begins with an inside look at the early reign of the queen, who ascended the throne at age 25 after the death of her father, King George VI. As the decades pass, personal intrigues, romances, and political rivalries are revealed that played a big role in events that shaped the later years of the 20th century.
',' Peter Morgan',' Drama, History','2023-01-01 00:00:00','https://jornalacena.com.br/wp-content/uploads/2022/12/maxresdefault-2.jpg','series','2024-10-30 16:27:54','2024-10-30 16:27:54');
INSERT INTO `movies` VALUES (29,7,'The Witcher','The witcher Geralt, a mutated monster hunter, struggles to find his place in a world in which people often prove more wicked than beasts.
',' Lauren Schmidt Hissrich & more',' Drama, Action, Adventure, Fantasy','2019-01-01 00:00:00','https://quebrandocontrole.com.br/site/wp-content/uploads/2024/04/The-witcher-show-netflix.webp','series','2024-10-30 16:29:18','2024-10-30 16:29:18');
INSERT INTO `movies` VALUES (30,7,'The Wonderful Story of Henry Sugar','The Wonderful Story of Henry Sugar: A rich man learns about a guru who can see without using his eyes. He sets out to master the skill in order to cheat at gambling. Extremely faithfully adapted from Roald DahlÔÇÖs long short story.
','Wes Anderson','Comedy, Adventure, Short','2023-10-20 00:00:00','https://m.media-amazon.com/images/M/MV5BZjA1ZjliMGYtNTcyYS00YjA3LWI3NGItMjdmNzE1NjUyY2RmXkEyXkFqcGc@._V1_FMjpg_UX1000_.jpg','movie','2024-10-30 18:30:53','2024-10-30 18:30:53');
INSERT INTO `movies` VALUES (31,7,'Klaus','A desperate postman accidentally brings about the genesis of Santa Claus.
','Sergio Pablos','Kids & Family, Holiday, Comedy, Adventure, Animation','2019-01-01 00:00:00','https://m.media-amazon.com/images/M/MV5BYjc5NWQ1MGUtYjhhNy00NWYyLWEwMDItN2EzNDQ0MmQxZjg3XkEyXkFqcGc@._V1_.jpg','movie','2024-10-30 18:32:08','2024-10-30 18:32:08');
INSERT INTO `movies` VALUES (32,7,'The Power of the Dog','Severe, pale-eyed, handsome, Phil Burbank is brutally beguiling. All of Phil''s romance, power and fragility is trapped in the past and in the land: He can castrate a bull calf with two swift slashes of his knife; he swims naked in the river, smearing his body with mud. He is a cowboy as raw as his hides. The year is 1925. The Burbank brothers are wealthy ranchers in Montana. At the Red Mill restaurant on their way to market, the brothers meet Rose, the widowed proprietress, and her impressionable son Peter. Phil behaves so cruelly he drives them both to tears, reveling in their hurt and rousing his fellow cowhands to laughter -- all except his brother George, who comforts Rose then returns to marry her. As Phil swings between fury and cunning, his taunting of Rose takes an eerie form -- he hovers at the edges of her vision, whistling a tune she can no longer play. His mockery of her son is more overt, amplified by the cheering of Phil''s cowhand disciples. Then Phil appears to take the boy under his wing. Is this latest gesture a softening that leaves Phil exposed, or a plot twisting further into menace?
','Jane Campion','Western, Drama, Romance','2021-11-17 00:00:00','https://resizing.flixster.com/Rk7fdyOXFyc7Wn1iDsHMPH6OVjE=/ems.cHJkLWVtcy1hc3NldHMvbW92aWVzLzJiNjQ0YWVlLTFhZmQtNGQwYy05NzlhLTY1NDExZTQxNWU0Zi5qcGc=','movie','2024-10-30 18:35:48','2024-10-30 18:35:48');
INSERT INTO `movies` VALUES (33,7,'Pearl','Filmmaker Ti West returns with another chapter from the twisted world of X, in this astonishing follow-up to the year''s most acclaimed horror film. Trapped on her family''s isolated farm, Pearl must tend to her ailing father under the bitter and overbearing watch of her devout mother. Lusting for a glamorous life like she''s seen in the movies, Pearl finds her ambitions, temptations, and repressions all colliding in this stunning, technicolor-inspired origin story of X''s iconic villain.
','Ti West','Horror, Mystery & Thriller, Comedy','2022-10-16 00:00:00','https://wp.ufpel.edu.br/empauta/files/2022/11/imagem1.jpg','movie','2024-10-30 18:36:53','2024-10-30 18:36:53');

-- Table structure for table `lists`
CREATE TABLE `lists` (
  `id` INTEGER PRIMARY KEY AUTOINCREMENT,
  `userId` INTEGER NOT NULL,
  `moviesId` TEXT DEFAULT NULL, -- Changed from JSON to TEXT
  `createdAt` TEXT NOT NULL,
  `updatedAt` TEXT NOT NULL,
  FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
);

-- Dumping data for table `lists`
INSERT INTO `lists` VALUES (1,7,'[2, 12, 8]','2024-10-23 23:51:01','2024-10-28 21:31:14');